* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box; 
}
.container {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 0.07fr 0.1fr 0.6fr 1fr 0.5fr 0.2fr;
  grid-template-areas: 
  "header header"
  "nav nav"
  "cards ads"
  "main ads"
  "sidebar ads"
  "footer footer";
}
/* Start of header  */
header {
    background-color: rgb(253, 141, 43);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    grid-area: header;
  }
.header-links {
    list-style: none;
    padding: 0;
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
  }
  
  .header-links li {
    display: inline-block;
    line-height: 80px;
  }
  
  .header-social-icons {
    list-style: none;
    padding: 0;
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }
  
  .header-social-icons li {
    display: inline-block;
  }
  
  .header-links a {
    text-decoration: none;
    color: black;
  }
  
  .header-social-icons svg {
    width: 20px;
    height: 20px;
  }
  /* End of header and start of nav bar */
  .nav{
    background-color: rgb(240, 240, 240);
    text-align: center;
    grid-area: nav;
    display: inline;
    align-items: center;
  }
  .nav img {
    padding:0;
    margin: 0 auto;
    display: block;
  }
  
  .cards {
    grid-area: cards;
  }

  /* Content styling start here */
  .article {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .full-width-image {
    width: 100%;
    flex-grow: 1;
  }
  
  .photo {
    width: 50%;
  }
  
  /* End of content styling */

  .sidebar {
    background-color: blueviolet;
    grid-area: sidebar;
  }

  .ads { 
    grid-area: ads;
  }

  .main {
    grid-area: main;
  }
.footer {
    grid-area: footer;
}
  