* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 0.06fr 0.05fr auto auto 0.01fr 0.01fr;
  grid-template-areas: 
  "header header"
  "nav nav"
  "cards ads"
  "sidebar sidebar"
  "main main"
  "footer footer";
}
/* Start of header  */
header {
  background-color: rgb(253, 141, 43);
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  grid-area: header;
}
.header-links {
  list-style-type: none;
  padding: 0;
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.header-social-icons {
  list-style-type: none;
  padding: 0;
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  color: black;
}

.header-social-icons li {
  display: inline-block;
}
nav ul li {
  list-style-type: none;
}

.header-links a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.header-social-icons svg {
  width: 20px;
  height: 20px;
  fill: black;
}
header h1 {
  font-weight: 800;
}
  /* End of header and start of nav bar */
  .logo{
    background-color: rgb(240, 240, 240);
    text-align: center;
    grid-area: nav;
    display: inline;
    align-items: center;
  }
  .logo img {
    padding:0;
    margin: 0 auto;
    display: block;
  }

  /* Content styling start here */

  .cards {
    grid-area: cards;
    background-color: whitesmoke;
    padding-top: 20px;
  }
  .article {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
  }
  .article h1{
    font-size: 30px;
    text-align: center;
    padding: 1rem;
  }
  .subtitle {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align:left;
  }
  .row h3 {
    text-align: center;
    margin-bottom: 50px;
  }
  ul li {
    list-style-position: outside;
    list-style-type: circle;
    list-style-image: url('https://i.imgur.com/smaller-nicer-dot.png');
    padding-left: 10px;
    
  }
  
  .full-width-image {
    width: 100%;
    flex-grow: 1;
  }
  
  .photo {
    width: 50%;
  }
  
  /* End of content styling */

 
/* The sidebar and chill */

.sidebar {
  background-color: rgb(240, 240, 240);
  grid-area: sidebar;
  padding-top: 2%;
}
.split-hr {
  width: 20%;
  display: inline-block;
  border-top: 1px solid #ccc;
}

.split-hr-text {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}
.sidebar-title {
  text-align: center;
}

.most-popular {
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 50px;
}

.image {
  float: left;
  margin-right: 20px;
}

.text {
  width: 50%;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

  /* End of sidebar and start of ads */
  .ads { 
    grid-area: ads;
  }

  /* The main is here tho nothing */
  .main {
    grid-area: main;
    color: #00f;
  }

.back-up{
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

/* The footer starts  */
footer {
  grid-area: footer;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.header-links {
  list-style: none;
  padding: 0;
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}



.footer-social-icons {
  list-style: none;
  padding: 0;
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
 
}

.footer-social-icons li {
  display: inline-block;
}

.footer-social-icons svg {
  width: 20px;
  height: 20px;
  fill: #000;
}

Style all keyboard-focusable elements a,
button,
input,
select,
textarea {
  outline: none;
  border: 1px solid #3c3c3c;
}

/* Style keyboard-focusable elements when they are focused */
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  border: 1px solid #00f;
}
/* For smaller screens  */
@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.5fr 0.5fr 0.25fr 0.1fr;
    grid-template-areas:
      "header"
      "nav nav nav"
      "cards"
      "main"
      "sidebar"
      "footer";
  }
}
