* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    font-family: montserrat;
    box-sizing: border-box; 
}
.container {
  display: grid;
  grid-template-columns: 12.5em 1fr 12.5em;
  grid-template-rows: 0.1fr 0.2fr 0.6fr 1fr 0.5fr 0.2fr;
  /* height: 100vh; */
  grid-template-areas: 
  "header header header"
  "nav nav nav"
  "cards cards cards"
  "main main main"
  "sidebar sidebar sidebar"
  "footer footer footer";
}

/* Start of header  */
header {
    background-color: rgb(253, 141, 43);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    grid-area: header;
  }
.header-links {
    list-style: none;
    padding: 0;
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
  }
  
  .header-links li {
    display: inline-block;
    line-height: 80px;
  }
  
  .header-social-icons {
    list-style: none;
    padding: 0;
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
   
  }
  
  .header-social-icons li {
    display: inline-block;
  }
  
  .header-links a {
    text-decoration: none;
    color: black;
  }
  
  .header-social-icons svg {
    width: 20px;
    height: 20px;
  }
  
  
  /* end of header */
  

  .nav-left {
    text-decoration: none;
    width: 50%;
  }
  
  .nav {
   padding-top: 50px;
    background-color: rgb(240, 240, 240);
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: nav;
  }
/* The cards are here buddy */
  .cards {
    background-color: rgb(49, 8, 186);
    grid-area: cards;
    height: fit-content;
  }

  article {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
  }
  article section {
    flex-grow: 1;
    flex-basis: 20%;
    box-shadow:#000;
    padding: 0;
    margin: 20px;
    clear: both;
    overflow:hidden;
    height: fit-content;
    box-sizing: border-box;
  }
  section {
    position: relative;
  }
  
  .title-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(207, 11, 11, 0.785);
    color: white;
    text-align: center;
    padding: 10px;
  }
 

  /* End of cards and beginning the main content */
  
  .main {
    background-color: rgb(4, 233, 103);
    grid-area: main;
  }
  .map-view{
    align-items: center;
    justify-content: center;
  }
  .hover-image {
    display: block;
    position: absolute;
    z-index: 1;
  }
  
  map[name="image-map"] area:hover + .hover-image {
    display: block;
  }
  

/* The sidebar and chill */

  .sidebar {
    background-color: rgb(9, 201, 25);
    grid-area: sidebar;
  }
  .sidebar {
    background-color: black;
  }

  /* The footer starts  */
  .footer {
    background-color: orange;
    grid-area: footer;
  }
  
  .container2{
    display: grid;
    grid-template-columns: 12.5em 1fr 12.5em;
    grid-template-rows: auto 1fr auto;
    padding-top: 5em;

  }

  Style all keyboard-focusable elements
a, button, input, select, textarea {
    outline: none;
    border: 1px solid #000;
  }
  
  /* Style keyboard-focusable elements when they are focused */
  a:focus, button:focus, input:focus, select:focus, textarea:focus {
    border: 1px solid #00f;
  }
   /* For smaller screens  */
  @media only screen and (max-width:768px){
    .container {
      display: grid;
      grid-template-columns:1fr;
      grid-template-rows: 0.1fr 0.1fr 0.5fr 0.5fr 0.25fr 0.1fr;
      grid-template-areas: 
      "header"
      "nav nav nav"
      "cards"
      "main"
      "sidebar"
      "footer";
    }
      } 